/* Fonts */
body {
  font-family: "Bebas Neue", cursive !important;
}

/* Banner */
.jumbotron {
  background-image: url("./images/banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 700px;
}

.jumbotron p,
.jumbotron h1 {
  color: white;
}

/* Movie Cards */
.movie-image {
  -webkit-box-shadow: 6px 14px 49px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 14px 49px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 14px 49px -20px rgba(0, 0, 0, 0.75);
}

.movie-title {
  font-size: 32px;
  font-weight: bold;
}

.movie-release-date {
  font-size: 18px;
  font-style: italic;
}
